flatui-turquoise = #1abc9c
flatui-greensea = #16a085
flatui-emerald = #2ecc71
flatui-nephritis = #27ae60
flatui-peterriver = #3498db
flatui-belizehole = #2980b9
flatui-amethyst = #9b59b6
flatui-wisteria = #8e44ad
flatui-wetasphalt = #34495e
flatui-midnightblue = #2c3e50
flatui-sunflower = #f1c40f
flatui-orange = #f39c12
flatui-carrot = #e67e22
flatui-pumpkin = #d35400
flatui-alizarin = #e74c3c
flatui-pomegranate = #c0392b
flatui-clouds = #ecf0f1
flatui-silver = #bdc3c7
flatui-concrete = #95a5a6
flatui-asbestos = #7f8c8d

@import 'nib'
body
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight: 300
  color: flatui-midnightblue
  -webkit-user-select: none
  line-height: 1.5em
  background: flatui-clouds



  .container
    width: 100%
    height: 100%
    padding: 1.5em 0.75em

    max-width: 1200px
    margin: 0 auto


.backing
  background-color green
.primary-bg, .secondary-bg, .success-bg
  cursor: pointer

.primary-bg
  background: flatui-clouds
  color: grey


.secondary-bg
  background: flatui-clouds
  color: flatui-midnightblue
  padding-left 5px
  border-bottom solid #000000 1px
.footer
  background-color flatui-silver

.header
  background-color flatui-silver

.header-icon
  color: grey
  z-index: 20
  font-family: Fontawesome
  cursor: pointer
  font-size x-large
  a
    color grey
    text-decoration none
  a:hover
    color grey
.mybtn
  z-index: 20
  cursor: pointer
  font-size large

.teven
  background-color: #007A99 !important
.todd
  background-color: #0093B8 !important

.taskData
  text-align:  left
  font-size: medium;
  color: white
  width: 100%
  padding-left: 5px
.task
  box-sizing: border-box
  background-color: #007A99
  border-bottom: 1px solid #000000
  height: 100%

.inputf
  font-size large
  
.hide
  display: none
.headText
  color black
  z-index: 20
  font-size x-large