<head>
  <title>Famo.us and Meteor</title>
  
  <!-- Blatanly stolen Meteor favicon. -->
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  
  
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  <link rel="apple-touch-icon" href="dticon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  
</head>

<body>
</body>


<template name="home">
</template>

<template name="about">
</template>


<template name="box">
</template>

<template name="drag">
</template>

<template name="chat1">
</template>

<template name="chat2">
</template>