<Template name="aboutc">
    <div class="container">
        <h1>Meteor and Famo.us</h1>
        <h4>Meteor, Famo.us, and a bunch more cutting edge technologies!</h4>
            <button type="button" id="but2" class="btn btn-default">Home</button>


    </div>
</Template>