<Template name="homec">
<div class="container">
    <h1>Meteor and Famo.us</h1>
        <h4>Meteor, Famo.us, and a bunch more cutting edge technologies!</h4>


        <p><i class="fa fa-envelope-o fa-2x"></i> pages are being rendered with a new technology called famous. It uses browser 3d transforms and animation frames running
            at 60fps
        to provide fast animations and makes a web app respond and act like a native iOS or Android app.</p>
        <p>I've included a link to another web app that is a pretty impressive demo of what famous can do.
        Check it out on your iPhone by clicking
            <button type="button" id="but8" class="btn btn-primary">Here</button>

        </p>


<br>
     <strong>{{message}}</strong>
    <p>
        <button type="button" id="but1" class="btn btn-default">Page2</button>
        <button type="button" id="but3" class="btn btn-default">Simple Box</button>
        <button type="button" id="but4" class="btn btn-default">Drag</button>
        <button type="button" id="but5" class="btn btn-default">Chg Message</button>
        <button type="button" id="but6" class="btn btn-default">Chat1</button>
        <button type="button" id="but7" class="btn btn-default">Chat2</button>
    </p>

</div>
</Template>